:root {
  --color-bg1: #84c5b7;
  --color-bg2: #569ac8;

  --dark-text: #333;
  --light-text: #f1f1f1;

  --light-blue: rgbs(255, 255, 255, 0.75);
  --dark-output: rgba(0, 0, 0, 0.75);
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, var(--color-bg1), var(--color-bg2));
  margin: 0;
  padding: 0;
  color: var(--dark-text);
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  padding: 2rem;
  color: var(--dark-text);

  /* max-width: 400px; */
  /* margin: 40px auto; */
  /* border-radius: 16px; */
  /* gap: 10px; */
}

.container > button {
  cursor: pointer;
  border: 1px solid var(--light-text);
  outline: none;
  background-color: var(--light-blue);
  font-size: 1.2rem;
}

.container > button:hover {
  background-color: var(--light-text);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: var(--dark-output);
}
